*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}

header{
background:#1c2b39;
color:white;
padding:20px;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin-right:20px;
}

.hero{
height:500px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#2c4d6b;
color:white;
}

#servicos{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
}

.card{
background:white;
padding:30px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.formulario{
width:450px;
margin:50px auto;
background:white;
padding:30px;
border-radius:10px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:#1c2b39;
color:white;
border:none;
cursor:pointer;
}

table{
width:90%;
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
padding:12px;
border:1px solid #ddd;
}